skola/Fel_Mgr/3.semestr/AOS/rado_semestralka/murinradAOS/BookingServer/src/wsdl/murko2-pc_8080/BookingServer/FlightBookerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bookingserver.murinrad.fee.ctu.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bookingserver.murinrad.fee.ctu.cz/" name="FlightBookerService">
<types>
<xsd:schema>
<xsd:import namespace="http://bookingserver.murinrad.fee.ctu.cz/" schemaLocation="http://murko2-pc:8080/BookingServer/FlightBookerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFreeSeats">
<part name="parameters" element="tns:getFreeSeats"/>
</message>
<message name="getFreeSeatsResponse">
<part name="parameters" element="tns:getFreeSeatsResponse"/>
</message>
<message name="DatabaseException">
<part name="fault" element="tns:DatabaseException"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="SeatIsAlreadyReservedException">
<part name="fault" element="tns:SeatIsAlreadyReservedException"/>
</message>
<message name="getPassengerDataForATicket">
<part name="parameters" element="tns:getPassengerDataForATicket"/>
</message>
<message name="getPassengerDataForATicketResponse">
<part name="parameters" element="tns:getPassengerDataForATicketResponse"/>
</message>
<message name="TicketDoesNotExistException">
<part name="fault" element="tns:TicketDoesNotExistException"/>
</message>
<message name="confirmTicketPaid">
<part name="parameters" element="tns:confirmTicketPaid"/>
</message>
<message name="confirmTicketPaidResponse">
<part name="parameters" element="tns:confirmTicketPaidResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="PassengerDoesNotExistException">
<part name="fault" element="tns:PassengerDoesNotExistException"/>
</message>
<message name="TicketIsNotCancellableException">
<part name="fault" element="tns:TicketIsNotCancellableException"/>
</message>
<message name="getTicketsForPassenger">
<part name="parameters" element="tns:getTicketsForPassenger"/>
</message>
<message name="getTicketsForPassengerResponse">
<part name="parameters" element="tns:getTicketsForPassengerResponse"/>
</message>
<message name="getSpecificTicket">
<part name="parameters" element="tns:getSpecificTicket"/>
</message>
<message name="getSpecificTicketResponse">
<part name="parameters" element="tns:getSpecificTicketResponse"/>
</message>
<message name="ChangeReservation">
<part name="parameters" element="tns:ChangeReservation"/>
</message>
<message name="ChangeReservationResponse">
<part name="parameters" element="tns:ChangeReservationResponse"/>
</message>
<message name="ChangeTicketException">
<part name="fault" element="tns:ChangeTicketException"/>
</message>
<portType name="FlightBookerIface">
<operation name="getFreeSeats">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getFreeSeatsRequest" message="tns:getFreeSeats"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getFreeSeatsResponse" message="tns:getFreeSeatsResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getFreeSeats/Fault/DatabaseException"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/bookFlight/Fault/DatabaseException"/>
<fault message="tns:SeatIsAlreadyReservedException" name="SeatIsAlreadyReservedException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/bookFlight/Fault/SeatIsAlreadyReservedException"/>
</operation>
<operation name="getPassengerDataForATicket">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getPassengerDataForATicketRequest" message="tns:getPassengerDataForATicket"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getPassengerDataForATicketResponse" message="tns:getPassengerDataForATicketResponse"/>
<fault message="tns:TicketDoesNotExistException" name="TicketDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getPassengerDataForATicket/Fault/TicketDoesNotExistException"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getPassengerDataForATicket/Fault/DatabaseException"/>
</operation>
<operation name="confirmTicketPaid">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/confirmTicketPaidRequest" message="tns:confirmTicketPaid"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/confirmTicketPaidResponse" message="tns:confirmTicketPaidResponse"/>
<fault message="tns:TicketDoesNotExistException" name="TicketDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/confirmTicketPaid/Fault/TicketDoesNotExistException"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/confirmTicketPaid/Fault/DatabaseException"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/cancelReservationResponse" message="tns:cancelReservationResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/cancelReservation/Fault/DatabaseException"/>
<fault message="tns:TicketDoesNotExistException" name="TicketDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/cancelReservation/Fault/TicketDoesNotExistException"/>
<fault message="tns:PassengerDoesNotExistException" name="PassengerDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/cancelReservation/Fault/PassengerDoesNotExistException"/>
<fault message="tns:TicketIsNotCancellableException" name="TicketIsNotCancellableException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/cancelReservation/Fault/TicketIsNotCancellableException"/>
</operation>
<operation name="getTicketsForPassenger">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getTicketsForPassengerRequest" message="tns:getTicketsForPassenger"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getTicketsForPassengerResponse" message="tns:getTicketsForPassengerResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getTicketsForPassenger/Fault/DatabaseException"/>
<fault message="tns:PassengerDoesNotExistException" name="PassengerDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getTicketsForPassenger/Fault/PassengerDoesNotExistException"/>
</operation>
<operation name="getSpecificTicket">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getSpecificTicketRequest" message="tns:getSpecificTicket"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getSpecificTicketResponse" message="tns:getSpecificTicketResponse"/>
<fault message="tns:TicketDoesNotExistException" name="TicketDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getSpecificTicket/Fault/TicketDoesNotExistException"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/getSpecificTicket/Fault/DatabaseException"/>
</operation>
<operation name="ChangeReservation">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/ChangeReservationRequest" message="tns:ChangeReservation"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/ChangeReservationResponse" message="tns:ChangeReservationResponse"/>
<fault message="tns:TicketDoesNotExistException" name="TicketDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/ChangeReservation/Fault/TicketDoesNotExistException"/>
<fault message="tns:SeatIsAlreadyReservedException" name="SeatIsAlreadyReservedException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/ChangeReservation/Fault/SeatIsAlreadyReservedException"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/ChangeReservation/Fault/DatabaseException"/>
<fault message="tns:TicketIsNotCancellableException" name="TicketIsNotCancellableException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/ChangeReservation/Fault/TicketIsNotCancellableException"/>
<fault message="tns:ChangeTicketException" name="ChangeTicketException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightBookerIface/ChangeReservation/Fault/ChangeTicketException"/>
</operation>
</portType>
<binding name="FlightBookerPortBinding" type="tns:FlightBookerIface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFreeSeats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="SeatIsAlreadyReservedException">
<soap:fault name="SeatIsAlreadyReservedException" use="literal"/>
</fault>
</operation>
<operation name="getPassengerDataForATicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TicketDoesNotExistException">
<soap:fault name="TicketDoesNotExistException" use="literal"/>
</fault>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
<operation name="confirmTicketPaid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TicketDoesNotExistException">
<soap:fault name="TicketDoesNotExistException" use="literal"/>
</fault>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="TicketDoesNotExistException">
<soap:fault name="TicketDoesNotExistException" use="literal"/>
</fault>
<fault name="PassengerDoesNotExistException">
<soap:fault name="PassengerDoesNotExistException" use="literal"/>
</fault>
<fault name="TicketIsNotCancellableException">
<soap:fault name="TicketIsNotCancellableException" use="literal"/>
</fault>
</operation>
<operation name="getTicketsForPassenger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="PassengerDoesNotExistException">
<soap:fault name="PassengerDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="getSpecificTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TicketDoesNotExistException">
<soap:fault name="TicketDoesNotExistException" use="literal"/>
</fault>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
<operation name="ChangeReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TicketDoesNotExistException">
<soap:fault name="TicketDoesNotExistException" use="literal"/>
</fault>
<fault name="SeatIsAlreadyReservedException">
<soap:fault name="SeatIsAlreadyReservedException" use="literal"/>
</fault>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="TicketIsNotCancellableException">
<soap:fault name="TicketIsNotCancellableException" use="literal"/>
</fault>
<fault name="ChangeTicketException">
<soap:fault name="ChangeTicketException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightBookerService">
<port name="FlightBookerPort" binding="tns:FlightBookerPortBinding">
<soap:address location="http://murko2-pc:8080/BookingServer/FlightBookerService"/>
</port>
</service>
</definitions>