skola/Fel_Mgr/3.semestr/AOS/rado_semestralka/murinradAOS/PrintingServer/src/wsdl/murko2-pc_8080/PrintingServer/PrintingServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://printingserver.murinrad.fee.ctu.cz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://printingserver.murinrad.fee.ctu.cz/">

<xs:element name="printTicket" type="tns:printTicket"/>

<xs:element name="printTicketResponse" type="tns:printTicketResponse"/>

<xs:complexType name="printTicket">
<xs:sequence>
<xs:element name="Ticket" type="tns:ticket" minOccurs="0"/>
<xs:element name="Passenger" type="tns:passenger" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticket">
<xs:sequence>
<xs:element name="flightID" type="xs:int" minOccurs="0"/>
<xs:element name="seatNumber" type="xs:int" minOccurs="0"/>
<xs:element name="status" type="xs:int" minOccurs="0"/>
<xs:element name="ticketNumber" type="xs:int" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="passenger">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="idDocNumber" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="sex" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printTicketResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>