skola/Fel_Mgr/3.semestr/AOS/rado_semestralka/murinradAOS/PaymentServer/src/wsdl/murko2-pc_8080/PaymentServer/PaymentServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://paymentserver.murinrad.fee.ctu.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://paymentserver.murinrad.fee.ctu.cz/" name="PaymentServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://paymentserver.murinrad.fee.ctu.cz/" schemaLocation="http://murko2-pc:8080/PaymentServer/PaymentServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="performCashTransaction">
<part name="parameters" element="tns:performCashTransaction"/>
</message>
<message name="performCashTransactionResponse">
<part name="parameters" element="tns:performCashTransactionResponse"/>
</message>
<message name="DatabaseException">
<part name="fault" element="tns:DatabaseException"/>
</message>
<message name="PaymentException">
<part name="fault" element="tns:PaymentException"/>
</message>
<message name="performCardTransaction">
<part name="parameters" element="tns:performCardTransaction"/>
</message>
<message name="performCardTransactionResponse">
<part name="parameters" element="tns:performCardTransactionResponse"/>
</message>
<message name="performBankTransaction">
<part name="parameters" element="tns:performBankTransaction"/>
</message>
<message name="performBankTransactionResponse">
<part name="parameters" element="tns:performBankTransactionResponse"/>
</message>
<portType name="PaymentServiceIface">
<operation name="performCashTransaction">
<input wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCashTransactionRequest" message="tns:performCashTransaction"/>
<output wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCashTransactionResponse" message="tns:performCashTransactionResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCashTransaction/Fault/DatabaseException"/>
<fault message="tns:PaymentException" name="PaymentException" wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCashTransaction/Fault/PaymentException"/>
</operation>
<operation name="performCardTransaction">
<input wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCardTransactionRequest" message="tns:performCardTransaction"/>
<output wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCardTransactionResponse" message="tns:performCardTransactionResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCardTransaction/Fault/DatabaseException"/>
<fault message="tns:PaymentException" name="PaymentException" wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performCardTransaction/Fault/PaymentException"/>
</operation>
<operation name="performBankTransaction">
<input wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performBankTransactionRequest" message="tns:performBankTransaction"/>
<output wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performBankTransactionResponse" message="tns:performBankTransactionResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performBankTransaction/Fault/DatabaseException"/>
<fault message="tns:PaymentException" name="PaymentException" wsam:Action="http://paymentserver.murinrad.fee.ctu.cz/PaymentServiceIface/performBankTransaction/Fault/PaymentException"/>
</operation>
</portType>
<binding name="PaymentServicePortBinding" type="tns:PaymentServiceIface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="performCashTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="PaymentException">
<soap:fault name="PaymentException" use="literal"/>
</fault>
</operation>
<operation name="performCardTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="PaymentException">
<soap:fault name="PaymentException" use="literal"/>
</fault>
</operation>
<operation name="performBankTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="PaymentException">
<soap:fault name="PaymentException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PaymentServiceService">
<port name="PaymentServicePort" binding="tns:PaymentServicePortBinding">
<soap:address location="http://murko2-pc:8080/PaymentServer/PaymentServiceService"/>
</port>
</service>
</definitions>