skola/Fel_Mgr/3.semestr/AOS/rado_semestralka/murinradAOS/BookingServerClient/src/wsdl/murko2-pc_8080/BookingServer/FlightFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bookingserver.murinrad.fee.ctu.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bookingserver.murinrad.fee.ctu.cz/" name="FlightFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://bookingserver.murinrad.fee.ctu.cz/" schemaLocation="http://murko2-pc:8080/BookingServer/FlightFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findFlightByID">
<part name="parameters" element="tns:findFlightByID"/>
</message>
<message name="findFlightByIDResponse">
<part name="parameters" element="tns:findFlightByIDResponse"/>
</message>
<message name="DatabaseException">
<part name="fault" element="tns:DatabaseException"/>
</message>
<message name="MalformedParameterException">
<part name="fault" element="tns:MalformedParameterException"/>
</message>
<message name="FlightDoesNotExistException">
<part name="fault" element="tns:FlightDoesNotExistException"/>
</message>
<message name="listAllFlights">
<part name="parameters" element="tns:listAllFlights"/>
</message>
<message name="listAllFlightsResponse">
<part name="parameters" element="tns:listAllFlightsResponse"/>
</message>
<message name="findFlightsByPassengerID">
<part name="parameters" element="tns:findFlightsByPassengerID"/>
</message>
<message name="findFlightsByPassengerIDResponse">
<part name="parameters" element="tns:findFlightsByPassengerIDResponse"/>
</message>
<message name="findFlightsByFlightData">
<part name="parameters" element="tns:findFlightsByFlightData"/>
</message>
<message name="findFlightsByFlightDataResponse">
<part name="parameters" element="tns:findFlightsByFlightDataResponse"/>
</message>
<portType name="FlightFinderIface">
<operation name="findFlightByID">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightByIDRequest" message="tns:findFlightByID"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightByIDResponse" message="tns:findFlightByIDResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightByID/Fault/DatabaseException"/>
<fault message="tns:MalformedParameterException" name="MalformedParameterException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightByID/Fault/MalformedParameterException"/>
<fault message="tns:FlightDoesNotExistException" name="FlightDoesNotExistException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightByID/Fault/FlightDoesNotExistException"/>
</operation>
<operation name="listAllFlights">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/listAllFlightsRequest" message="tns:listAllFlights"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/listAllFlightsResponse" message="tns:listAllFlightsResponse"/>
</operation>
<operation name="findFlightsByPassengerID">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByPassengerIDRequest" message="tns:findFlightsByPassengerID"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByPassengerIDResponse" message="tns:findFlightsByPassengerIDResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByPassengerID/Fault/DatabaseException"/>
<fault message="tns:MalformedParameterException" name="MalformedParameterException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByPassengerID/Fault/MalformedParameterException"/>
</operation>
<operation name="findFlightsByFlightData">
<input wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByFlightDataRequest" message="tns:findFlightsByFlightData"/>
<output wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByFlightDataResponse" message="tns:findFlightsByFlightDataResponse"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByFlightData/Fault/DatabaseException"/>
<fault message="tns:MalformedParameterException" name="MalformedParameterException" wsam:Action="http://bookingserver.murinrad.fee.ctu.cz/FlightFinderIface/findFlightsByFlightData/Fault/MalformedParameterException"/>
</operation>
</portType>
<binding name="FlightFinderPortBinding" type="tns:FlightFinderIface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findFlightByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="MalformedParameterException">
<soap:fault name="MalformedParameterException" use="literal"/>
</fault>
<fault name="FlightDoesNotExistException">
<soap:fault name="FlightDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="listAllFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFlightsByPassengerID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="MalformedParameterException">
<soap:fault name="MalformedParameterException" use="literal"/>
</fault>
</operation>
<operation name="findFlightsByFlightData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="MalformedParameterException">
<soap:fault name="MalformedParameterException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightFinderService">
<port name="FlightFinderPort" binding="tns:FlightFinderPortBinding">
<soap:address location="http://murko2-pc:8080/BookingServer/FlightFinderService"/>
</port>
</service>
</definitions>